<div style="float:right">
  <button type="submit" class="btn btn-primary" id="get-songs">
    Get Songs
  </button>
  <button type="submit" class="btn btn-primary" id="clear-songs">
    Clear Songs
  </button>
  <form id="create-song">
    <input name="song[title]" type="text" placeholder="Title" id="create-song-title">
    <input name="song[artist]" type="text" placeholder="Artist" id="create-song-artist">
    <input type="submit" class="btn btn-primary" value="Create Song">
  </form>
</div>
