<div style="float:right">
  <button type="submit" class="btn btn-primary" id="get-songs">
    Get Songs
  </button>
  <button type="submit" class="btn btn-primary" id="clear-songs">
    Clear Songs
  </button>
</div>
