<div class="navbar-nav">
  <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassword" id="changePasswordButton">
    Change Password
  </button>
  <button type="submit" class="btn btn-primary" id="sign-out">
    Sign Out
  </button>
</div>
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="change-password">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-change-password">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
            <legend>Change Password</legend>
            <input name="passwords[old]" type="password" placeholder="Old Password">
            <input name="passwords[new]" type="password" placeholder="New Password">
            <!-- <input type="submit" class="btn btn-primary" name="submit" value="Save Changes"> -->
          </fieldset>
          <p id="change-password-status-message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
