<div class="row">
  <div class="col-xs-5" id="songs-table-header-1">Title</div>
  <div class="col-xs-5" id="songs-table-header-2">Artist</div>
  <div class="col-xs-2" id="songs-table-header-3">Edit</div>
</div>
{{#each songs as |song|}}
  {{> new-song-add-row song=song}}
{{/each}}
